.container{
    margin-top: 5%;
    }
body{
    background-color: #FFB04A;
    }
.jumbotron{
            background-color:  whitesmoke;
            background-color:  whitesmoke;
            box-shadow: 1px 1px 20px black;
        }